@font-face {
    font-family: 'Ubuntu-Regular';
    src: url(../fonts/Ubuntu-Regular.woff2) format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Verbana';
    src: url("../fonts/Verdana.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu-Bold';
    src: url("../fonts/Ubuntu-Bold.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

body {
    background: url("../image/background.jpg") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    overflow:hidden;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.header-container {
    display: flex;
}

.header {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.logo-item {
    font-family: 'Ubuntu-Bold', sans-serif;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 18px;
}

.navigation .logo-item:hover {
    color: #01813F;
}
.menu-image {
    display: flex;
    gap: 27px;
    padding: 0;
}
.image {
    fill: white;
}
.image:hover {
    fill: #01813F;
}
.text {
    font-family: 'Ubuntu-Regular', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-left: 53px;
    position: relative;
}

.text::before {
    content: "";
    width: 1px;
    height: 19px;
    position: absolute;
    left: -27px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
}

.text .text-link__login:hover {
    color: #01813F;
    opacity: 0.4;
}

.text .text-link__signup:hover {
    color: #01813F;
    opacity: 0.4;
}

.text-link__login {
    color: #FFFFFF;
    font-family: 'Verdana', sans-serif;
    font-size: 14px;
    line-height: 14px;
}

.text-link__signup {
    color: #FFFFFF;
    font-family: 'Verdana', sans-serif;
    font-size: 14px;
    line-height: 14px;
}

.main-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-form-container {
    width: 444px;
    height: 584px;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
}

.form {
    width: 324px;
    margin: 0 auto;
    position: relative;
}

.form-container-entrance {
    padding-top: 32px;
    padding-bottom: 14px;
    display: flex;
    justify-content: space-between;
}

.form-registration {
    font-family: 'Ubuntu-Regular', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #434343;
    margin: 0;
}

.form-registration:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: -60px;
    background: #3CB878;
}

.form-login {
    font-family: 'Ubuntu-Regular', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.form-login:hover {
    text-decoration: underline;
    color: #01813F;
}

.section-button {
    display: flex;
    justify-content: space-between;
}

.button-facebook {
    width: 158px;
    height: 46px;
    background: #305DB8;
    border-radius: 4px;
    border: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Ubuntu-Regular', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.button-facebook:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 28px;
    left: 48px;
    background: #0A162F;
    opacity: 0.1;
}
.button-facebook:hover{
    background: #022263;
}
.button-google {
    width: 158px;
    height: 46px;
    background: #DF4A32;
    border-radius: 4px;
    border: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Ubuntu-Regular', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    position: relative;
}
.button-google:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 28px;
    left: 59px;
    background: #2B0D09;
    opacity: 0.1;
}
.button-google:hover{
    background-color: #AB1F09;
}
.form-item-or {

    font-family: 'Ubuntu-Regular', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #848484;
    position: relative;
    justify-content: center;
}

.form-item-or:before {
    content: "";
    position: absolute;
    width: 152px;
    height: 0;
    left: -3px;
    border: 1px solid #F2F2F2;
}

.form-item-or:after {
    content: "";
    position: absolute;
    width: 152px;
    height: 1px;
    left: 171px;
    border: 1px solid #F2F2F2;
}

.form-input {
    width: 324px;
    height: 45px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    margin-bottom: 15px;
    padding-left: 20px;
}

.form-input::placeholder {
    font-family: 'Ubuntu-Regular', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}
.form-input:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border: none;
    outline: none;
}
.container-checkbox {
    font-family: 'Ubuntu-Regular', sans-serif;
    font-style: normal;
    font-size: 14px;
    color: #434343;
    padding-bottom: 20px;
}
.container-checkbox__label{
display: inline-flex;
    align-items: center;
}
.form-input-checkbox {
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
}
.form-input-checkbox:focus-visible{
    outline-color: #AB1F09;
}
.accent-color {
    font-family: 'Verdana', sans-serif;
    color: #3CB878;
}
.accent-color:hover {
    text-decoration: underline;
    color: #01813F;
}
.form-input-submit {
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: 0;
    font-family: 'Ubuntu-Regular', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
